// 变量
//---------------------------------
$header-height: 0;


// 样式
//---------------------------------
.header{
	height: $header-height;

	@at-root .logo{
		float: left;

		a{
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	@at-root .nav{
		li{
			float: left;
			line-height: $header-height;
		}
	}
}