/*
 * ---------------------------------
 * header
 * ---------------------------------
 */


/* 变量 */
/* --------------------------------- */
$headerHeight: 80px;


/* 样式 */
/* --------------------------------- */
.header {
	height: $headerHeight;
}

.logo {
	float: left;
	width: 200px;
	height: 100px;
	background: url();
	a {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.nav {
	margin-left: 50px;
	li {
		float: left;
		line-height: $headerHeight;
	}

	a {
		font-size: 16px;
		color: #333;
		&:hover {
			color: $mainColor;
		}
	}
}