/*
 * ---------------------------------
 * sidebar
 * ---------------------------------
 */


/* 样式 */
/* --------------------------------- */
.sidebar {
  float: left;
  width: 100px;
  background: #eee;
}