/*
 * ---------------------------------
 * table
 * ---------------------------------
 */


/* mixin */
/* --------------------------------- */
@mixin zebraLine($oddColor, $evenColor) {
    tr {
        &:nth-child(odd) {
            background: $oddColor;
        }
        &:nth-child(even) {
            background: $evenColor
        }
    }
}


/* 样式 */
/* --------------------------------- */
table {
    table-layout: fixed;
    margin: 0 10px;
}

th,
td {
    padding: 10px;
	border: $border;
	vertical-align: middle;
}