//css3 transform
@mixin transform($action){
  transform: $action;
  -ms-transform: $action;
  -webkit-transform: $action;
  -o-transform: $action;
  -moz-transform: $action;
}

//css3 transition
@mixin transition($action...){
  transition: $action;
  -moz-transition: $action;
  -webkit-transition: $action;
  -o-transition: $action;
}

//css3 keyframes
@mixin keyframes($name){
  @keyframes #{$name}{
    @content;
  }
  @-webkit-keyframes #{$name}{
    @content;
  }
  @-moz-keyframes #{$name}{
    @content;
  }
  @-o-keyframes #{$name}{
    @content;
  }
}

//css3 animation
@mixin animate($action){
  animation: $action;
  -moz-animation: $action;
  -webkit-animation: $action;
  -o-animation: $action;
}

//opacity
@mixin opacity($n){
  filter: Alpha(opacity = $n);
  opacity: $n / 100;
}

//writing mode: vertical
@mixin writing-mode($str){
  -webkit-writing-mode: vertical-#{$str};
  -moz-writing-mode: vertical-#{$str};
  -o-writing-mode: vertical-#{$str};
  writing-mode: vertical-#{$str};
}

//text overflow: ellipsis
@mixin text-overflow(){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}