$prefixer : '', '-webkit-', '-moz-', '-o-';
$prefixer-transform: '', '-webkit-', '-moz-', '-o-', '-ms-';

//transform
@mixin transform($action){
  @each $pre in $prefixer-transform{
    #{$pre}transform: $action;
  }
}

//transition
@mixin transition($action...){
  @each $pre in $prefixer{
    #{$pre}transition: $action;
  }
}

//animation keyframes
@mixin keyframes($name){
  @keyframes #{$name}{
    @content;
  }
  @-webkit-keyframes #{$name}{
    @content;
  }
  @-moz-keyframes #{$name}{
    @content;
  }
  @-o-keyframes #{$name}{
    @content;
  }
}

//animation
@mixin animate($action){
  @each $pre in $prefixer{
    #{$pre}animation: $action;
  }
}

//opacity
@mixin opacity($n){
  filter: Alpha(opacity = $n);
  opacity: $n / 100;
}

//text overflow: ellipsis
%text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

//box shadow
@include box-shadow($style...){
  box-shadow: $style;
  -webkit-box-shadow: $style;
}

//text shadow
@include text-shadow($style...){
  text-shadow: $style;
  -webkit-text-shadow: $style;
}