/*
 * ---------------------------------
 * css3
 * ---------------------------------
 */


/* 变量 */
/* --------------------------------- */

/* 浏览器前缀只支持webkit和ms的，moz和o不支持 */
$prefixer : '', '-webkit-';
$prefixerTransform: '', '-webkit-', '-ms-';


/* mixin */
/* --------------------------------- */

/* transform */
@mixin transform($action) {
  @each $pre in $prefixerTransform {
    #{$pre}transform: $action;
  }
}

/* transform-origin */
@mixin transformOrigin($style) {
  @each $pre in $prefixerTransform {
    #{$pre}transform-origin: $style;
  }
}

/* transition */
@mixin transition($action...) {
  @each $pre in $prefixer {
    #{$pre}transition: $action;
  }
}

/* animation keyframes */
@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }

  @-webkit-keyframes #{$name} {
    @content;
  }

  @-moz-keyframes #{$name} {
    @content;
  }

  @-o-keyframes #{$name} {
    @content;
  }
}

/* animation */
@mixin animate($action) {
  @each $pre in $prefixer {
    #{$pre}animation: $action;
  }
}

/* opacity */
@mixin opacity($n) {
  filter: Alpha(opacity = $n);
  opacity: $n / 100;
}

/* text overflow: ellipsis */
@mixin textOverflow() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* box shadow */
@mixin boxShadow($style...) {
  @each $pre in $prefixer {
    #{$pre}box-shadow: $style;
  }
}

/* linear gradient */
@mixin linear($style) {
  @each $pre in $prefixer {
    background: #{$pre}linear-gradient($style);
  }
}

/* radial gradient */
@mixin radial($style) {
  @each $pre in $prefixer {
    background: #{$pre}radial-gradient($style);
  }
}

/* font face */
@mixin fontFace($fontFamily, $filePath, $weight: normal, $style: normal ) {
  @font-face {
    font-family: $fontFamily;
    font-weight: $weight;
    font-style: $style;
    src: url('#{$filePath}.eot'); // 1
    src: url('#{$filePath}.eot?#iefix') format('eot'), // 2
         url('#{$filePath}.svg##{$font-family}') format('svg'), // 3
         url('#{$filePath}.woff') format('woff'), // 4
         url('#{$filePath}.ttf') format('truetype'); //5
  }
}

/* flex */
@mixin flex($style) {
  @each $pre in $prefixer {
    #{$pre}flex: $style;
  }
}

/* flex-flow */
@mixin flexFlow($style) {
   @each $pre in $prefixer {
    #{$pre}flex-flow: $style;
  }
}