//设置
//---------------------------------

//icons
//---------------------------------
@mixin icoBack($size, $color, $hoverColor: null, $pos: relative) {
    @include circle($size);
    $borderWidth: $size / 10;
    position: $pos;
    border: $borderWidth solid $color;
    &:before,
    &:after {
        position: absolute;
        content: '';
    }
    &:before {
        left: 50%;
        top: ($size - $borderWidth) / 2;
        width: $size / 2;
        height: $borderWidth;
        margin-left: - $size / 4;
        background: $color;
    }
    &:after {
        @include transform(rotate(45deg));
        @include transformOrigin(100% 0);
        left: 50%;
        top: 50%;
        width: $size / 4;
        height: $size / 4;
        border: $borderWidth solid $color;
        border-top: 0;
        border-right: 0;
        margin-left: - $size / 5.7;
    }
    @if $hoverColor {
         &:hover {
            border-color: $hoverColor;
            &:before {
                background: $hoverColor;
            }
            &:after {
                border-color: $hoverColor;
            }
        }
    }
}

@mixin icoHome($size, $color, $hoverColor: null, $pos: relative) {
    @include tri('top', $size / 2, $color);
    position: $pos;
    &:before {
        position: absolute;
        content: '';
        bottom: -$size + 1px;
        left: -$size / 3;
        height: $size / 4;
        width: $size / 6;
        border: solid $color;
        border-width: $size / 4 $size / 4 0;
    }
    @if $hoverColor {
         &:hover {
            border-bottom-color: $hoverColor;
            &:before {
                border-color: $hoverColor;
            }
        }
    }
}

@mixin icoSearch($size, $color, $hoverColor: null, $pos: relative) {
    @include circle($size / 2);
    position: $pos;
    border: $size / 8 solid $color;
    &:before {
        @include transform(rotate(45deg));
        @include transformOrigin(0 0);
        position: absolute;
        right: -$size * 0.9;
        bottom: 0;
        width: $size;
        height: $size / 8;
        background: $color;
        content: '';
    }
    @if $hoverColor {
         &:hover {
            border-color: $hoverColor;
            &:before {
                background: $hoverColor;
            }
        }
    }
}

@mixin icoBgPlay($size, $color, $innerColor, $pos: relative) {
    width: $size;
    height: $size;
    background: $color;
    border-radius: 50%;
    &:before {
        @include tri('right', $size / 3, $innerColor);
        position: absolute;
        left: 50%;
        top: 50%;
        content: '';
    }
    @if $hoverColor {
        background: $hoverColor;
    }
}

@mixin icoBgPause($size, $color, $innerColor, $pos: relative) {
    @include circle($size);
    position: $pos;
    background: $color;
}

@mixin icoBgStop($size, $color, $innerColor, $pos: relative) {
    @include circle($size);
    position: $pos;
    background: $color;
}

@mixin icoPlay($size, $color) {}

@mixin icoPause($size, $color) {}

@mixin icoStop($size, $color) {}

@mixin icoDelete($size, $color) {}

@mixin icoBgDelete($size, $color, $innerColor) {
    width: $size;
    height: $size;
    background: $color;
}

@mixin icoAdd($size, $color, $hoverColor: null, $pos: relative) {
    &,
    &:before {
        width: $size;
        height: $size / 6;
        background: $color;
    }
    &{
        position: $pos;
    }
    &:before{
        @include transform(rotate(90deg));
        position: absolute;
        left: 0;
        top: 0;
    }
    @if $hoverColor {
        &:hover {
            &,
            &:before{
                background: $hoverColor;
            }
        }
    }
}

@mixin icoBgAdd($size, $color, $innerColor) {
    width: $size;
    height: $size;
    background: $color;
}

@mixin icoRemove($size, $color) {}

@mixin icoBgRemove($size, $color, $innerColor) {
    @include circle($size);
    background: $color;
}

@mixin icoClock($size, $color) {}

@mixin icoSuccess($size, $color) {}

@mixin icoBgSuccess($size, $color, $innerColor) {
    width: $size;
    height: $size;
    background: $color;
}

@mixin icoPower($size, $color, $innerColor) {}

@mixin star($size, $color) {}

@mixin icoFresh($size, $color) {}

@mixin icoWarn($size, $color, $innerColor) {
    width: 0;
    height: 0;
    border-bottom: $size solid $color;
    border-left: $size / 2 solid transparent;
    border-right: $size / 2 solid transparent;
    &:before{
        position: absolute;
        left: 50%;
        top: 110%;
        content: '!';
        font-size: $size / 2;
        color: $innerColor;
    }
}