//background-position with image
@mixin bpImage($width, $height, $x, $y){
	width: $width;
	height: $height;
	@if $x == 0 and $y == 0{
		background-position: 0 0;
	}
	@else if $x == 0 and $y != 0{
		background-position: 0 $y;
	}
	@else if $x != 0 and $y == 0{
		background-position: $x 0;
	}
	@else{
		background-position: $x $y;
	}
}

//background-position without image
@mixin bp($width, $height, $x, $y){
	width: $width;
	height: $height;
	@if $x == 0 and $y == 0{
		background-position: 0 0;
	}
	@else if $x == 0 and $y != 0{
		background-position: 0 $y;
	}
	@else if $x != 0 and $y == 0{
		background-position: $x 0;
	}
	@else{
		background-position: $x $y;
	}
}

//text center and middle
@mixin text-center($width, $height, $display: null){
	display: $display;
	width: $width;
	height: $height;
	text-align: center;
	line-height: $height;
}

//block center and middle
%block-center{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

//inline block
@mixin inline-block(){
	display: inline-block;
	@if($lte7){
		*display:inline;
		*zoom:1;
	}
}

// triangle
@mixin triangle($direction, $size, $borderColor ) {
  content:"";
  height: 0;
  width: 0;
  overflow: hidden;
  border: $size solid;
  @if $direction == top {
  	border-color: transparent transparent $borderColor;
  }
  @else if $direction == right {
  	border-color: transparent transparent transparent $borderColor;
  }
  @else if $direction == bottom {
  	border-color: $borderColor transparent transparent;
  }
  @else if $direction == left {
  	border-color: transparent $borderColor transparent transparent;
  }
}

//circle
@mixin circle($size){
  width: $size;
  height: $size;
  border-radius: 50%;
}

//paragraph middle
%para-middle{
  display: table-cell;
  vertical-align: middle;
}