//background-position with image
@mixin bpImage($width, $height, $x, $y) {
  $bgImage: url();
  width: $width;
  height: $height;
  @if $x != 0 and $y != 0 {
    background: $bgImage $x $y;
  } @else if $x == 0 and $y != 0 {
    background: $bgImage 0 $y;
  } @else if $x != 0 and $y == 0 {
    background: $bgImage $x 0;
  } @else {
    background: $bgImage 0 0;
  }
}

//background-position without image
@mixin bp($width, $height, $x, $y) {
	width: $width;
	height: $height;
	@if $x != 0 and $y != 0 {
		background-position: $x $y;
	} @else if $x == 0 and $y != 0{
		background-position: 0 $y;
	} @else if $x != 0 and $y == 0{
		background-position: $x 0;
	} @else{
		background-position: 0 0;
	}
}

//text center and middle
@mixin textCenter($width, $height, $display: null) {
	display: $display;
	width: $width;
	height: $height;
	text-align: center;
	line-height: $height;
}

//block center and middle
@mixin blockCenter($position: absolute) {
	position: $position;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

%blockCenter{
  @include blockCenter;
}

//inline block
@mixin inlineBlock() {
	display: inline-block;
  *display:inline;
  *zoom:1;
}

// triangle
@mixin tri($dir, $size, $color) {
  content:"";
  height: 0;
  width: 0;
  overflow: hidden;
  border: $size solid;
  @if $dir == top {
  	border-color: transparent transparent $color;
    border-top-width: 0;
  }@else if $dir == right {
  	border-color: transparent transparent transparent $color;
    border-top-width: 0;
  }@else if $dir == bottom {
  	border-color: $color transparent transparent;
    border-bottom-width: 0;
  }@else if $dir == left {
  	border-color: transparent $color transparent transparent;
    border-left-width: 0;
  }
}

//circle
@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

//paragraph middle
%paraMiddle {
  display: table-cell;
  vertical-align: middle;
}