/*
 * ---------------------------------
 * 变量
 * ---------------------------------
 */


/* 变量 */
/* --------------------------------- */

/* 开关 */
$lte7: true;                  /* 最低兼容IE7 */

/* 颜色 */
$mainColor: #169fe6;
$mainHoverColor: lighten($mainColor, 5%);
$mainActiveColor: darken($mainColor, 5%);
$titleColor: #333;
$contentColor: #666;
$borderColor: #eee;
$border: 1px solid $borderColor;
$bgColor: #eee;
$disabledColor: #ccc;