//设置
//---------------------------------
$lte7: true;

//颜色
//---------------------------------
$mainColor: #169fe6;
$titleColor: #333;
$contentColor: #666;

//字号
//---------------------------------
$mainFontSize: 14px;