// 变量
//---------------------------------
$alertFontSize: 12px;
$alertColor: #999;


// placeholder
//---------------------------------
%alert-public{
    font-size: $alertFontSize;
    background-image: url();
}


// 样式
//---------------------------------
.msg-warn{
    @extend %alert-public;
    color: yellow;
    background-position:  0 0;
}
.msg-error{
    @extend %alert-public;
    color: red;
    background-position:  0 0;
}
.msg-pass{
    @extend %alert-public;
    color: $alertColor;
    background-position:  0 0;
}
.tips{
    font-size: $alertFontSize;
    color: $alertColor;
}