$modal-alert: false;
$text-alert: false;

@if $modal-alert {
  .modal-alert{
   @include block-center(fixed);

   .close{
    position: absolute;
  }
}
}

@if $text-alert {
  .msg-warn{ }

  .msg-error{
  }

  .msg-pass{
  }

  .tips{
  }
}