%slide-btn{
  position: absolute;
    top: 50%;
}

$pageDotTag: span;

.slide{

  .btn-left{
    @extend %slide-btn;
  }

  .btn-right{
    @extend %slide-btn;
  }
}

.pagination{
  position: absolute;
  text-align: center;

  #{$pageDotTag}{
  }
}