/*
 * ---------------------------------
 * alert
 * ---------------------------------
 */


/* 变量 */
/* --------------------------------- */
$flexMargin: 20px 20px;


/* 样式 */
/* --------------------------------- */
.flex{}
.flex-top{
    .flex-left,
    .flex-right{
        width: nth($flexMargin, 1);
        height: nth($flexMargin, 2);
    }
}
.flex-middle{
    .flex-left,
    .flex-right{
        width: nth($flexMargin, 1);
    }
}
.flex-bottom{
    .flex-left,
    .flex-right{
        width: nth($flexMargin, 1);
        height: nth($flexMargin, 2);
    }
}