/*
 * ---------------------------------
 * alert
 * ---------------------------------
 */


/* 变量 */
/* --------------------------------- */
$flexMarginH: 24px;
$flexMarginV: 24px 20px;


/* 样式 */
/* --------------------------------- */
.flex-left,
.flex-right {
    position: absolute;
    top: 0;
    width: $flexMarginH;
}

.flex-center {
    margin: 0 $flexMarginH;
}

.flex-left {
    left: 0;
}

.flex-right {
    right: 0;
}

.flex-top {
    position: relative;
    .flex-left,
    .flex-right {
        height: nth($flexMarginV, 1);
    }

    .flex-left {
        background-position:  ;
    }

    .flex-right {
        background-position: ;
    }

    .flex-center {
        height: nth($flexMarginV, 1);
        background: url() top center;
    }
}

.flex-middle {
    position: relative;
    .flex-left,
    .flex-right {
        height: 100%;
    }

    .flex-left {
        background: url();
    }

    .flex-right {
        background: url();
    }

    .flex-center {
        background: url();
    }
}

.flex-bottom {
    position: relative;
    .flex-left,
    .flex-right,
    .flex-center {
        height: nth($flexMarginV, 2);
    }

    .flex-left {
        background-position: ;
    }

    .flex-right {
        background-position: ;
    }

    .flex-center {
        background: url();
    }
}