/*
 * ---------------------------------
 * img banner
 * ---------------------------------
 */


/* 变量 */
/* --------------------------------- */
$imgBannerHeight: 30px;


/* 样式 */
/* --------------------------------- */
.img-mask {
    @include opacity(50);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $imgBannerHeight;
    background: #000;
}

.img-desc {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: z('img-desc');
    padding-left: 10px;
    height: $imgBannerHeight;
    line-height: $imgBannerHeight;
    color: #fff;
}