// 变量
//---------------------------------
$inputFontSize: 14px;


// 样式
//---------------------------------
.input-wrapper{
    position: relative;
}

.input-text{
    font-size: $FontSize;
}

.input-ph{
    position: absolute;
    top: 0;
    font-size: $FontSize;
}