// 变量
//---------------------------------
$inputFontSize: 14px;


// 样式
//---------------------------------
.input-wrapper{
    position: relative;
}
.input-text{
    font-size: $inputFontSize;
}
.input-ph{
    position: absolute;
    top: 0;
    left: 20px;
    font-size: $inputFontSize;
    color: #999;
}
.label-group{
    .checkbox{
        float: left;
        width: 20px;
        height: 20px;
        background: url();
        &.on{
            background-position: 0 0;
        }
    }
    label{
        float: left;
        margin-left: 10px;
    }
}

