// 变量
//---------------------------------
$modalBg: #fff;               //弹窗背景色
$modalRadius: 4px;            //弹窗圆角半径
$modalWidth: 300px;           //弹窗宽度

// 样式
//---------------------------------
.overlay{
    @include opacity(50);
    position: fixed;
    left: 0;
    top: 0;
    z-index: z('overlay');
    width: 100%;
    height: 100%;
    background: #000;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: z('modal');
    width: $modalWidth;
    margin-left: -$modalWidth / 2;
}
.modal-header{
    height: 40px;
    border-radius: $modalRadius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: $modalBg;
    h3{
        font-size: 18px;
        font-weight: normal;
        color: $titleColor;
    }
    .close{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 30px;
        font-family: "simsun";
        color: #333;
        &:hover{
            color: #666;
        }
    }
}
.modal-main{
    border: 1px solid $borderColor;
    border-left: 0;
    border-right: 0;
    background: $modalBg;
}
.modal-footer{
    border-radius: $modalRadius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: $modalBg;
}
.modal-submit{
    @include btnStyle('me', 'blue');
}
.modal-cancel{
    @include btnStyle('sm', 'white');
    margin-left: 15px;
}