$pageAbs: true;

.page{
  @if $pageAbs == true{
    position: absolute;
    right: 0;
    bottom: 0;
  }
  @else{
    display: inline-block;
  }

  .page-text{
    font-size: 0;
    color: #000;
  }

  .page-list{
    display: inline-block;

    a{
      display: inline-block;
      width: 0;
      height: 0;
      background: none;

    }
  }
}