// 样式
//---------------------------------
.page{
  a{
    font-size: 12px;
    color: #666;
    &.page-num{
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    }
    &:hover{
        background: $mainHoverColor;
    }
  }
}