// placeholder
//---------------------------------
%steps-public{
    width: 100px;
    height: 100px;
    background-image:url();
}

// 样式
//---------------------------------
.steps{
    li{
        &.step1{
            background-position: 0 0;
            &.on{
                background-position: 0 0;
            }
        }
        &.step2{
            background-position: 0 0;
            &.on{
                background-position: 0 0;
            }
        }
        &.step3{
            background-position: 0 0;
            &.on{
                background-position: 0 0;
            }
        }
    }
}